etl_n8n/ETL_Ingesta_Corporativa_v1.json
{
  "name": "ETL_Ingesta_Corporativa_v1",
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1664,
        1328
      ],
      "id": "8f23b411-14ff-4055-b63f-eed873fe6cfe",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "U47AVt3C303veOh9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "document_sections",
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1712,
        784
      ],
      "id": "008e334b-b869-4f57-bc40-d40e0356c758",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "XY8sK4qA5Ci3QmLl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        464,
        -192
      ],
      "id": "c002b6ec-78cf-4f1f-9acb-c7ce6c2addb2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "ls -1 /data/documents/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        528,
        288
      ],
      "id": "7dfd6c16-61bc-4fb3-ba99-a5626816eb36",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {
          "fileName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        768
      ],
      "id": "90180a6a-513d-4165-bd7a-a279faefab42",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $('Loop Over Items').item.json.fileName }}"
              },
              {
                "name": "department",
                "value": "={{ $('Loop Over Items').item.json.department }}"
              },
              {
                "name": "confidentiality_level",
                "value": "={{ $('Loop Over Items').item.json.confidentiality_level }}"
              },
              {
                "name": "valid_until",
                "value": "={{ $('Loop Over Items').item.json.valid_until }}"
              },
              {
                "name": "document_hash",
                "value": "={{ $('Loop Over Items').item.json.document_hash }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1808,
        1248
      ],
      "id": "79c0a2e3-ac81-4669-a82f-cc596b11f611",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 650,
        "chunkOverlap": 130,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1888,
        1392
      ],
      "id": "e6b98de6-5ff8-4111-8436-2d387b755c17",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f05a622f-facf-471e-ae78-305e425452d9",
              "name": "listaArchivos",
              "value": "={{ ($json.stdout || '').split('\\n').filter(n => n.trim() !== '').map(n => {\n  const fileName = n.trim();\n  const path = '/data/documents/' + fileName;\n  \n  let department = 'Administración';\n  if (fileName.includes('_RRHH_')) department = 'RRHH';\n  \n  let confidentiality_level = 'Público';\n  const numMatch = fileName.match(/_(\\d{2})_/);\n  const num = numMatch ? parseInt(numMatch[1]) : 99;\n  const esExtenso = fileName.includes('extensos');\n  \n  if (esExtenso) {\n    confidentiality_level = 'Confidencial';\n  } else if (department === 'Administración') {\n    if (num <= 4) confidentiality_level = 'Público';\n    else if (num <= 8) confidentiality_level = 'Interno';\n    else confidentiality_level = 'Confidencial';\n  } else {\n    if (num <= 3) confidentiality_level = 'Público';\n    else if (num <= 6) confidentiality_level = 'Interno';\n    else confidentiality_level = 'Confidencial';\n  }\n  \n  let valid_until = null;\n  const expMatch = fileName.match(/__EXP(\\d{4})(\\d{2})(\\d{2})/);\n  if (expMatch) {\n    valid_until = `${expMatch[1]}-${expMatch[2]}-${expMatch[3]}T23:59:59Z`;\n  }\n  \n  return { path, fileName, department, confidentiality_level, valid_until };\n}) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        304
      ],
      "id": "c2eda9b2-3b84-42a4-ac60-2f6baba1da29",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "listaArchivos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        304
      ],
      "id": "81240e52-bcea-4d59-bb7a-a0fbc3f5f403",
      "name": "Split Out"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sha256sum /data/documents/{{ $json.fileName }} | awk '{print $1}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1216,
        352
      ],
      "id": "4deb5b4f-c3a2-4408-8f1e-81d2abc4aba4",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "jsCode": "const hashItems = $input.all();\nconst splitItems = $('Split Out').all();\nconst results = [];\n\nfor (let i = 0; i < hashItems.length; i++) {\n  const hash = hashItems[i].json.stdout.trim();\n  const splitItem = splitItems[i].json;\n  \n  results.push({\n    json: {\n      path: splitItem.path,\n      fileName: splitItem.fileName,\n      department: splitItem.department,\n      confidentiality_level: splitItem.confidentiality_level,\n      valid_until: splitItem.valid_until,\n      document_hash: hash\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        368
      ],
      "id": "05771f73-7064-43a1-9da4-52adfc1656ce",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=http://api_gateway:8000/api/v1/document/exists/{{ $json.document_hash }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        368
      ],
      "id": "d2ba750c-9b2e-4380-bb21-cc665da24ac2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst codeItems = $('Code in JavaScript').all();\nconst results = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const exists = httpItems[i].json.exists;\n  const codeItem = codeItems[i].json;\n  \n  results.push({\n    json: {\n      exists: exists,\n      path: codeItem.path,\n      fileName: codeItem.fileName,\n      department: codeItem.department,\n      confidentiality_level: codeItem.confidentiality_level,\n      valid_until: codeItem.valid_until,\n      document_hash: codeItem.document_hash\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        416
      ],
      "id": "086d8505-0314-43f8-92d3-49e85e0584aa",
      "name": "Code 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e601943-2540-447d-87b1-f6e41cb29388",
              "leftValue": "={{ $json.exists.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2048,
        512
      ],
      "id": "d0cc8596-5dac-41e7-9ae4-6a5d8cb025a9",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2448,
        496
      ],
      "id": "49be60ce-9a89-465e-b6bd-bf7c8d64f26d",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "07a5868c-599d-4e8e-912a-90d654794172",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16f4dedead6ae57fa05c56aff107238cd0567aeb9109667ce143fc465a2bd28a"
  },
  "id": "Yx3a00YyK9kmBux9",
  "tags": []
}